:root {
    font-family: "Red Hat Display", sans-serif;
    /* Primary colors */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
  
    /* Neutral Colors */
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
  
    /* Anchor color */
    --a-color: hsl(228, 45%, 44%);
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Pale-blue);
  }
  
  .payment-card {
    margin: 0 auto;
    margin-top: 60px;
    width: 85%;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
  }
  
  .payment-card header img {
    height: 148px;
    width: 100%;
  }
  
  main {
    text-align: center;
  }
  
  main h1 {
    font-weight: 900;
  }
  
  main p {
    margin: 0 24px 24px 24px;
    color: var(--Desaturated-blue);
    font-weight: 500;
    line-height: 24px;
  }
  
  .plan {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 8px 24px 24px 24px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--Very-pale-blue);
  }
  
  .plan:nth-child(3) {
    color: var(--a-color);
    font-weight: 900;
    align-items: center;
  }
  
  .plan__type-plan :nth-child(1) {
    color: var(--Dark-blue);
    font-weight: 900;
  }
  .plan__type-plan :nth-child(2) {
    color: var(--Desaturated-blue);
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    padding: 0 24px 24px 24px;
  }
  .button-container > button {
    font-family: "Red Hat Display", sans-serif;
    height: 48px;
    border-radius: 12px;
    margin-bottom: 4px;
    border: none;
    font-weight: 900;
  }
  .button-container__payment {
    background-color: var(--Bright-blue);
    color: var(--Very-pale-blue);
  }
  .button-container__cancel {
    background-color: var(--Very-pale-blue);
    color: var(--Desaturated-blue);
  }